.box {
  box-sizing: border-box;
  margin: 42px;
  width: 100%;
  max-width: 1012px;
  display: flex;
justify-content: center;
align-items: center;
}


.input {
  width: 220px;
  border-radius: 50px;
  height: 44px;
  margin-left: 0px;
  padding-left: 0px;
}

.buttonFly button {
  background-color: #1e3769;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 44px;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1011px) {
  .box {max-width: 900px;
    width: 90vw;
  margin-left: 42px;}
  }


@media (min-width: 481px) and (max-width: 767px) {
  .box {max-width: 690px;
  margin-left: 0px;}
  }

  