.box {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 16px;
  width: 100%;
  max-width: 1012px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headbuttonz {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 16px;
  width: 100%;
  max-width: 1022px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.input {
  width: 220px;
  border-radius: 50px;
  height: 44px;
  margin-left: 0px;
  padding-left: 0px;
}

.buttonFly button {
  background-color: #1e3769;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 44px;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1011px) {
  .box {
    padding: 24px 16px;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
  }

  .headbuttonz {
    margin-left: 0px;
  }



  }


@media (min-width: 481px) and (max-width: 767px) {
  .box {
    padding: 16px;
    max-width: 95%;
    margin: 0 auto;
    justify-content: center;
  }

  .headbuttonz {
    margin-left: 0px;
    max-width: 90vw;
    width: 100%;
  }
  }

  