.gallery-scroll-container {
  display: flex;
  flex-wrap: nowrap; /* add this */
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.gallery-scroll-container::-webkit-scrollbar {
  display: none;
}

.gallery-scroll-container {
  width: 100%;
  max-width: 100%;
}
  
 
  @media (max-width: 480px) {
    .gallery-scroll-container {
      width: 100%;
      max-width: 100%;
     
    }
  }
  