.input {
    width: 220px;
    border-radius: 50px;
    height: 44px;
    margin-left: 0px;
    padding-left: 0px;
}

.buttonFly button {
    background-color: #1E3769;
    border-radius: 50px;
    border-color: #1E3769;
    width: 200px;
    height: "144px";
}