.user-plans {
  margin-left: 42px;
  margin-top: 42px;
}
.blue-plans {
  background-color: #1e3769;
  width: 100%;
  max-width: 1012px;
  display: flex;
  border-radius: 7px;
  height: 70px;
  align-items: baseline;
  margin-bottom: 24px;
  padding: 12px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .user-plans {
    margin-left: 21px;
  }
  .blue-plans {
    max-width: 320px;
  }
}
