.user-plans {
   margin-left: 42px;
    margin-top: 42px; 
}
.blue-plans {
    background-color: #1E3769;
    width: 100%;       /* instead of fixed 1012px */
    max-width: 1012px; /* max width for desktop */
    display: flex;
    border-radius: 7px;
    height: 70px;
    align-items: baseline;
    margin-bottom: 24px;
    padding: 12px;
    box-sizing: border-box; /* make padding included in width */
  }

@media (max-width: 768px) {
    .user-plans {margin-left: 21px;}
    .blue-plans { max-width: 320px;}

}