.NavBar {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #1e37691f;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.logo-and-toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: #1E3769;
  cursor: pointer;
}

.nav-links {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.nav-links.active {
  display: flex;
}

.nav-links a {
  padding: 10px 0;
  color: #1E3769;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #ffffff;
}

.avatar {
  width: 33px;
  border-radius: 50%;
  margin-top: 10px;
}

.dogmoney {
  width: 50px;
}

.doglogo {
  width: 100px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .NavBar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }

  .nav-links a {
    padding: 0 1rem;
  }
}
