@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2vmin;
  background-color: #1F9EBC;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #1a1a1a;
  }

  a:hover {
    background-color: #1F9EBC;
    color: white;
    
  }

  a.active {
   
   border-radius: 50px;
    color: #1E3769;
  }

  span {
    color: rgb(108, 9, 87);
  }

  .dogmoney {

    width: 50px;
  }
  .doglogo {
  
        width: 100px;
      }
      
}