.App {
  display: grid;
  grid-template-rows: auto auto;
}

#main-section {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}