.App {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #f9f9f9;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
