@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

.divbody {
  display: grid;

  grid-template-rows: auto 1fr auto; /* three rows defined here */
  grid-template-columns: 2fr 1fr; /* two columns defined here */
  font-family: sans-serif;
  font-size: 24px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-style: Roboto, sans-serif;
}

.gallery-container {
  margin-top: 42px;
  width: 1012px;
  display: flex;
  margin-bottom: 60px;
}

.Caro-Cal {
  height: 350px;
}

.AllUsersCarousel {
  width: 662px;
}

.bluething {
  background-color: #1e3769;
  height: 100px;
  width: 665px;
  border-radius: 7px;
  margin-top: 24px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide gallery-container on mobile just in case */
@media (max-width: 480px) {
  .gallery-container {
    display: none;
  }
}
