.plan {
   
    width: 100vw;
    max-width: 100%;
    background-color: white;
}

@media (max-width: 768px) {
    .plan {margin-left: -600px;}

    .plan-header,
    .plan-search {
      display: none;
    }
}