@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.header {
    display: flex;
    background-color: white;
    margin-left: 42px;
    max-width: 90vw;
    width: 100%;
    background-color: whitesmoke;
    
}


h2 {
    font-family: Roboto, Helvetica, sans-serif;
    margin-top: -16px;
    font-size: 16px;
}

@media (max-width: 480px) {
    .header {
        max-width: 90vw;
        width: 100%;
        margin-left: 0px;
    }
 
  }


@media (min-width: 481px) and (max-width: 767px) {
    .header {margin-left: 0px;}
    }