@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  display: flex;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 0px;
  padding-left: 16px;
  width: 100%;
  max-width: 1012px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.email-alert {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 12px 16px;
  margin-top: 12px;
  border-radius: 5px;
}

h2 {
  font-family: Roboto, Helvetica, sans-serif;
  margin-top: -16px;
  font-size: 16px;
}

.dog {
  width: 100px;
}

@media (max-width: 480px) {
  .header {
    max-width: 91vw;
    width: 100%;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #1e3769;
    height: 70px;
    border-radius: 7px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 32px;
  }

  .header h1 {
    color: #000000; 
   
  }
}

.header h2 {
  color: #000000; 
 
  
}

.mobile-head {
  padding-bottom: 32px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    margin-left: 0px;
  }

  .dog {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1011px) {
  .header {
    max-width: 80vw;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
  }

  .dog {
    display: none;
  }
}

@media (max-width: 480px) {

  .headbuttonz {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }

  .dog {
    display: none;
  }

  .header h1 {
    color: white; 
    margin-left: 26px;
  }

.header h2 {
  color: white; 
  margin-left: 26px;
  
}
}
