@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

.hootyblue {
 
  background-color: #1E3769;
  width: 100%;
  max-width: 1022px;
  display: flex;

  border-radius: 7px;
  height: 70px;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 12px;
  margin-left: 21px;

justify-content: center;
align-items: center;
  }

.hoot-scroll-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .hoot-scroll-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }
  
  .hoot-scroll-container::-webkit-scrollbar-thumb {
    background-color: #1E3769;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .hoot-scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: #4AA692;
  }
  
  .visible {
  
      width: 100%;
      max-width: 1012px;
      margin: 0 auto;
      display: flex;
justify-content: center;
align-items: center;
    
   
  }
  .hoot-scroll-container {
  
      display: flex;
      gap: 16px;
      justify-content: start;
      align-items: start;
    width: 100%;
      max-width: 1012px;
      margin-left: 8px;
      border: none;
   
    overflow-x: scroll;
    padding-bottom: 21px; /* Adds space between content (e.g. cards) and scrollbar */
    
  }

  .hoot-card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .hoot-card {
    border: 1px solid #bcc7d4;
    border-radius: 7px;
    padding: 12px;
    transition: background-color 0.2s ease;
  }
  
  .hoot-card-link:hover .hoot-card {
    background-color: #932e2e; /* ✅ light blue background */
  }
  
  .hoot-card-link:hover {
    color: #000000; /* ✅ or any color you prefer */
    text-decoration: none;
    background-color: #F2F4F7; 

  }

  .hoot-container:hover {
    border-color: #4AA692;
  }



  @media (min-width: 300px) and (max-width: 480px) {

    .hootyblue {
      display: none;
    }
   
  
  }
  
