/* BlogsComponent.css */
* {
  box-sizing: border-box;
}

.blog-scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #1E3769 #f0f0f0;
  max-width: 1012px; 
  width: 1012px;
}

.blog-scroll-container > div {
  display: flex;
  gap: 16px;
}

.blog-scroll-container > div > a {
  flex: 0 0 auto; /* Prevents shrinking and allows horizontal scrolling */
}


.blogs-component-container {
  margin-top: 125px; 
  padding: 0;
  width: 100%; 
  max-width: 1022px; 
margin-left: 42px;
  margin-right: auto;
}
.bluelabel {
  background-color: #1E3769;
  width: 100%;
  max-width: 1022px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  height: 70px;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 12px;
}


.tea {

    margin-left: 21px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 630px;

}






@media (min-width: 300px) and (max-width: 480px) {



.bluelabel {

  background-color: #1E3769;
  max-width: 90vw;
  width: 100%;
  display: flex;
  border-radius: 7px;
  height: 70px;
  align-items: baseline;
  margin-bottom: 24px;
  padding: 12px;

}

.bloggy {
  max-width: 90vw;
  width: 100%;
}
}

