.blabel-desktop {
  background-color: #1E3769;
  width: 1012px;
  display: flex;
  border-radius: 7px;
  height: 70px;
  align-items: baseline;
  margin-bottom: 24px;
  padding: 12px;
  margin-left: 42px;
}

.blabel-mobile {
  display: none;
}

@media (max-width: 480px) {
  .blabel-desktop {
    display: none;
  }

  .blabel-mobile {
    background-color: #1E3769;
    max-width: 90vw;
    width: 100%;
    display: flex;
    border-radius: 7px;
    height: 44px;
    align-items: center;
    margin-bottom: 24px;
    padding: 12px;
    margin-top: 60px;
  }
}
