.style {
  width: 662px;
  max-height: 550px;
  overflow-y: auto;
}

.featcard {
  border: 1px solid #bcc7d4;
  border-radius: 7px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.blabel-wrapper-mobile {
  display: none;
}

.blabel-wrapper-desktop {
  display: block;
}

@media (min-width: 300px) and (max-width: 480px) {

  .blabel-wrapper-desktop {
    display: none;
  }

  .blabel-wrapper-mobile {
    display: block;
  }

  .blabel {
    background-color: #1e3769;
    max-width: 90vw;
    width: 100%;
    display: flex;
    border-radius: 7px;
    height: 44px;
    align-items: baseline;
    margin-bottom: 24px;
    padding: 12px;
    margin-top: 60px;
  }


.featcard {
    max-width: 90vw;
    width: 100%;
}

.flightdeals {
  display: none !important;
}

  .style {
    max-width: 85vw;
    width: 100vw;
    max-height: none;
    overflow-y: visible;
    margin-left: -470px;
  }

}
