

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.headbuttons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 42px;
}

button {
    
    
    width: 220px;
    background-color: #1E3769;
    margin-right: 42px;
    border-radius: 50px;
    border-color: #1E3769;
}

