@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.allHeader {
  padding-bottom: 15px;
}

.headbuttons {
  font-family: Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 7px;
  max-width: 100%;
  width: 1012px;
  padding: 8px;
}

.headbuttons button {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  width: 220px;
  background-color: #ffffff;
  color: #1E3769;
  border-radius: 7px;
  border-color: #1E3769;
  border-width: 2px;
  height: 44px;
  margin-right: 2px;
  margin-left: 2px;
}



.headbuttons button:hover {
  background-color: #4AA692;
  border-color: #4AA692;
  color: #15284D;
  height: 44px;
}

.headbuttons button:active {
  color: #fff;
  height: 44px;
}

.headbuttons button.selected {
  background-color: #1E3769;
  color: white;
  border: 2px solid #1E3769;
  height: 44px;
}


@media (max-width: 480px) {
  .headbuttons {
   
    max-width: 100vw;
    width: 100%;
    
    margin-right: 0px;
    padding: 4px;
    gap: 4px;
  }
  .allHeader {
    max-width: 100vw;
    width: 100%;
  }

  .headbuttons button {
    width: 100%;
    font-size: 16px;
  }


  .headbuttons .flights-only {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1011px) {
  .headbuttons {
   flex-direction: row;
   max-width: 700px;
   width: 90vw;
   margin-left: -18%;
   margin-right: auto;
   padding: 5px;
   gap: 8px;
   
 }
 .headbuttons button {
   width: 180px;
   font-size: 16px;
 }

}


@media (min-width: 481px) and (max-width: 767px) {
   .headbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    gap: 8px;
  }
  .headbuttons button {
    width: 180px;
    font-size: 16px;
  }

}