.calendar-btn {
    background-color: #1E3769;
    border-radius: 7px;
    height: 44px;
    margin-top: 24px;
    width: 290px;
    border-width: 0px;
    font-size: 16px;
}

.calendar-btn:hover {
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #4AA692;
  border-color: #4AA692;
  border-radius: 7px;
  height: 44px;
  margin-top: 24px;
  width: 290px;
  border-width: 0px;
  color: #15284D;
  font-weight: 600;
}




.blog-scroll-container {
  overflow-x: auto;
  overflow-y: hidden; 
  display: flex;
  padding-bottom: 12px; 
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  max-width: 1012px;
  width: 1012px;
  gap: 16px;
}


.calendar-desktop-only::-webkit-scrollbar {
  height: 8px; 
}

.calendar-desktop-only::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.calendar-desktop-only::-webkit-scrollbar-thumb {
  background-color: #1e3769;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.calendar-desktop-only::-webkit-scrollbar-thumb:hover {
  background-color: #4AA692; 
}


@media screen and (max-width: 1024px) {
  .calendar-desktop-only {
    display: none !important;
  }
}
